 body 
 {
    background-color: white;
    text-align: center;
    border: 1px;
 }
 #container
 {
     height: 960px;
     width: 960px;
     border: solid;
     display: inline-flex;
     flex-wrap: wrap; 
     background-color: lightgrey;
     /* justify-self: flex-end;
     align-self: flex-end; */
     border-color: red;
   /*   align-content:flex-start ; */
 }
 
 .gridbox 
 {
     border-style: solid;
    border-width: 1px;
    background-color: antiquewhite;
 }

 