 body 
 {
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    border-style: solid;
 }
.title
{
   border-style: dotted;
}

.reset-button
{
    
}

 #container
 {
    margin: 10px;
     height: 960px;
     width: 960px;
     border: solid;
     display: inline-flex;
     flex-wrap: wrap; 
     background-color: lightgrey;
      
     border-color: red;
    
 }
 
 .gridbox 
 {
     border-style: solid;
    border-width: 1px;
    background-color: antiquewhite;
    border-color: grey;
 }

 